@import '../../styles/utils.scss';

.listItem {
    cursor: pointer;
    list-style: none;
}

.ulStyle {
    margin: 0;
    padding: 0;
}

.card {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    position: relative;
    margin-bottom: 8px;
}

