@import '../../styles/utils.scss';

.listItem {
    cursor: pointer;
    list-style: none;
}

.ulStyle {
    margin: 0;
    padding: 0;
}

.card {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    animation: animateOut 1s linear ;
    overflow: auto;
    @media screen and (max-width: $break-small) {
        padding: 0px;
      }
    
}

.animate-card-none {
    -webkit-animation-name: none; /* Safari 4.0 - 8.0 */
    animation-name: none;
}

.animate-card-in {
    -webkit-animation-name: listItemEnter; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: listItemEnter;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


  @keyframes animateOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }

.even-buttons{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.grid-5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    @media screen and (max-width: $break-small) {
        grid-template-columns: none;

      }
}

.input-style {
    font-size: 1rem;
    margin: 0 !important;
}

.list-style {
    padding: 12px 20px;
}