@import './styles/utils.scss';

body {
    font-family: 'PT Sans', sans-serif;
}

input {
    font-family: 'PT Sans', sans-serif;

}

header {
    text-align: center;
}

.content {
    width: 80%;
    max-width: 900px;
    @media screen and (max-width: $break-small) {
        width: 90%;
      }
    margin: 0 auto;
}

*:focus { 
    outline: none; 
}