@import './styles/utils.scss';

body {
    font-family: 'PT Sans', sans-serif;
}

input {
    font-family: 'PT Sans', sans-serif;

}

header {
    text-align: center;
}

.content {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

*:focus { 
    outline: none; 
}